# API
PORT=4000
WEB_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://relay:relay@localhost:5432/relay
JWT_ACCESS_SECRET=cambia-esto-en-local
JWT_REFRESH_SECRET=cambia-esto-tambien

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000
